<div style="margin-top: -5px;" class="animate__animated animate__fadeIn animate__slow">

    <h1> Gráfica de Dona </h1>

    <hr style="color: #37db8c">

    <div class="row align-items-center justify-content-center mt-2 mb-3">

        <div class="col-md-2 col-sm-12"></div>

        <div class="col-md-10 col-sm-12">
            
            <div class="grafica-dona" >

                <canvas 
                
                    baseChart
                    [data]="doughnutChartData"
                    [type]="doughnutChartType"

                ></canvas>

                <hr style="color: transparent">

            </div>
        
        </div>
    </div>
</div>