<div style="margin-top: -5px;" class="animate__animated animate__fadeIn animate__slow">

    <h1> Gráfica de Barras </h1>

    <hr style="color: #37db8c">

    <div class="graficas mt-4" >

        <canvas 
        
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType"
            
        ></canvas>

    </div>

    <div>

        <button

            class="btn btn-info float-end mt-3"
            id="boton-barras"
            (click)="actualizar()">
        
            Actualizar

        </button>

    </div>

</div>